

drop table {{tpcds_hive_db}}.dbgen_version;
drop table {{tpcds_hive_db}}.customer_address;
drop table {{tpcds_hive_db}}.customer_demographics;
drop table {{tpcds_hive_db}}.date_dim;
drop table {{tpcds_hive_db}}.warehouse;
drop table {{tpcds_hive_db}}.ship_mode;
drop table {{tpcds_hive_db}}.time_dim;
drop table {{tpcds_hive_db}}.reason;
drop table {{tpcds_hive_db}}.income_band;
drop table {{tpcds_hive_db}}.item;
drop table {{tpcds_hive_db}}.store;
drop table {{tpcds_hive_db}}.call_center;
drop table {{tpcds_hive_db}}.customer;
drop table {{tpcds_hive_db}}.web_site;
drop table {{tpcds_hive_db}}.store_returns;
drop table {{tpcds_hive_db}}.household_demographics;
drop table {{tpcds_hive_db}}.web_page;
drop table {{tpcds_hive_db}}.promotion;
drop table {{tpcds_hive_db}}.catalog_page;
drop table {{tpcds_hive_db}}.inventory;
drop table {{tpcds_hive_db}}.catalog_returns;
drop table {{tpcds_hive_db}}.web_returns;
drop table {{tpcds_hive_db}}.web_sales;
drop table {{tpcds_hive_db}}.catalog_sales;
drop table {{tpcds_hive_db}}.store_sales;

DROP DATABASE {{tpcds_hive_db}};
