LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/call_center.dat' INTO TABLE {{tpcds_hive_db}}.call_center;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/catalog_page.dat' INTO TABLE {{tpcds_hive_db}}.catalog_page;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/catalog_returns.dat' INTO TABLE {{tpcds_hive_db}}.catalog_returns;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/catalog_sales.dat' INTO TABLE {{tpcds_hive_db}}.catalog_sales;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/customer_address.dat' INTO TABLE {{tpcds_hive_db}}.customer_address;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/customer.dat' INTO TABLE {{tpcds_hive_db}}.customer;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/customer_demographics.dat' INTO TABLE {{tpcds_hive_db}}.customer_demographics;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/date_dim.dat' INTO TABLE {{tpcds_hive_db}}.date_dim;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/dbgen_version.dat' INTO TABLE {{tpcds_hive_db}}.dbgen_version;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/household_demographics.dat' INTO TABLE {{tpcds_hive_db}}.household_demographics;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/income_band.dat' INTO TABLE {{tpcds_hive_db}}.income_band;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/inventory.dat' INTO TABLE {{tpcds_hive_db}}.inventory;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/item.dat' INTO TABLE {{tpcds_hive_db}}.item;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/promotion.dat' INTO TABLE {{tpcds_hive_db}}.promotion;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/reason.dat' INTO TABLE {{tpcds_hive_db}}.reason;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/ship_mode.dat' INTO TABLE {{tpcds_hive_db}}.ship_mode;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/store.dat' INTO TABLE {{tpcds_hive_db}}.store;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/store_returns.dat' INTO TABLE {{tpcds_hive_db}}.store_returns;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/store_sales.dat' INTO TABLE {{tpcds_hive_db}}.store_sales;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/time_dim.dat' INTO TABLE {{tpcds_hive_db}}.time_dim;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/warehouse.dat' INTO TABLE {{tpcds_hive_db}}.warehouse;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/web_page.dat' INTO TABLE {{tpcds_hive_db}}.web_page;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/web_returns.dat' INTO TABLE {{tpcds_hive_db}}.web_returns;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/web_sales.dat' INTO TABLE {{tpcds_hive_db}}.web_sales;
LOAD DATA LOCAL INPATH '{{tpcds_unix_folder}}/data1/web_site.dat' INTO TABLE {{tpcds_hive_db}}.web_site;
