[Unit]
Description=HDFS Name Node 

[Service]
User=hdfs
Group=hadoop
SyslogIdentifier=hdfs_pnn
TimeoutStartSec=60
TimeoutStopSec=30
Restart=always
Type=forking
PIDFile=/var/run/hdfs/hadoop-hdfs-namenode.pid
ExecStart=/bin/bash /opt/hadoop-{{ hadoop_version }}/sbin/hadoop-daemon.sh --script hdfs start namenode
ExecStop=/bin/bash /opt/hadoop-{{ hadoop_version }}/sbin/hadoop-daemon.sh --script hdfs stop namenode

[Install]
WantedBy=multi-user.target

