
# Set JAVA_HOME. Must be at least 1.7.
# If not set, will try to lookup a correct version.
# JAVA_HOME=/some/place/where/to/find/java

# Set the log configuration file
JOPTS="$JOPTS -Dlog4j.configuration=file:/etc/kdescribe/log4j.xml"


# Set zookeeper quorum
# OPTS="$OPTS --zookeeper 'zk1:2181,zk2:2181,zk3:2181'"
{% if 'zookeepers' in groups %}
OPTS="$OPTS --zookeeper {% for host in groups['zookeepers'] %}{% if not loop.first %},{% endif %}{{  hostvars[host]['ansible_fqdn'] }}:2181{% endfor %}"
{% endif %}

