[Unit]
Description=Hive Metastore server service

[Service]
User=hive
Group=hadoop
SyslogIdentifier=hive_metastore
TimeoutStartSec=60
TimeoutStopSec=30
Restart=always
Type=simple
ExecStart=/bin/bash /opt/hive-{{ hive_version }}/bin/hive --service metastore

[Install]
WantedBy=multi-user.target

