#!/bin/sh
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


export KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/etc/kafka/connect-log4j.properties"

{% if kafka_connect_with_confluent %}
if [ -d /usr/share/java/kafka-serde-tools ]; then
	export CLASSPATH=$CLASSPATH:/usr/share/java/kafka-serde-tools/*
fi
if [ -d /usr/share/java/confluent-common ]; then
	export CLASSPATH=$CLASSPATH:/usr/share/java/confluent-common/*
fi
{% endif %}

if [ -f /etc/kafka/connect-setenv.sh ]; then
	source /etc/kafka/connect-setenv.sh
fi


exec /usr/bin/kafka-run-class.sh org.apache.kafka.connect.cli.ConnectDistributed "$@"
