
DROP TABLE IF EXISTS {{hwc_hive_db_name}}.doc1;
DROP TABLE IF EXISTS {{hwc_hive_db_name}}.wordcount1;

DROP TABLE IF EXISTS {{hwc_hive_db_name}}.doc2;
DROP TABLE IF EXISTS {{hwc_hive_db_name}}.wordcount2;

DROP TABLE IF EXISTS {{hwc_hive_db_name}}.wordcount3;

DROP DATABASE IF EXISTS {{hwc_hive_db_name}};
