
# Install OS instead of upgrade
install
url --url=$tree
repo --name="base" --baseurl=$tree --cost=100

eula --agreed

# Use text mode install
text
# Do not configure the X Window System
skipx

# intl settings
lang en_US.UTF-8
# NO keyboard fr, as it conflict with VNC/VirtualMachine manager
timezone --utc Europe/Paris

firewall --disable
selinux --disabled

auth  --useshadow  --enablemd5
#Root password
rootpw --iscrypted $default_password_crypted

# Clear the Master Boot Record
zerombr

# System bootloader configuration
bootloader --location=mbr --driveorder=vda --append="crashkernel=auto rhgb quiet"
ignoredisk --only-use=vda

clearpart --all --initlabel
part / --fstype=xfs --size=500 --grow --asprimary


network --onboot=yes --device=eth0 --bootproto=static --ip=$interfaces.eth0.ip_address --netmask=$interfaces.eth0.netmask --gateway=$gateway --nameserver=$name_servers[0] --hostname=$hostname  --noipv6 

shutdown

%packages
@core
%end

%post
$SNIPPET('install_build_key_pub')
$SNIPPET('install_root_key_pub')
$SNIPPET('install_root_key_priv')
%end


